<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderManagerService" />
                <binding name="BasicHttpBinding_IProductManagerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61689/OrderManagerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderManagerService"
                contract="OrderManagerService.IOrderManagerService" name="BasicHttpBinding_IOrderManagerService" />
            <endpoint address="http://localhost:60840/ProductManagerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductManagerService"
                contract="ProductManagerService.IProductManagerService" name="BasicHttpBinding_IProductManagerService" />
        </client>
    </system.serviceModel>
</configuration>